<h1>Importer</h1>

<p><%= link_to("Import All", importer_importAll_path) %></p>
<p><%= link_to("Import NES titles", {:controller => "importer", :action => "importConsole", :console => "NES"}) %> </p>
<p><%= link_to("Import SNES titles", {:controller => "importer", :action => "importConsole", :console => "SNES"}) %> </p>
<p><%= link_to("Import N64 titles", {:controller => "importer", :action => "importConsole", :console => "N64"}) %> </p>
<p><%= link_to("Import GBA titles", {:controller => "importer", :action => "importConsole", :console => "GBA"}) %> </p>
<p><%= link_to("Import GB titles", {:controller => "importer", :action => "importConsole", :console => "GB"}) %> </p>
<p><%= link_to("Import GBC titles", {:controller => "importer", :action => "importConsole", :console => "GBC"}) %> </p>
<p><%= link_to("Import SMS titles", {:controller => "importer", :action => "importConsole", :console => "SMS"}) %> </p>
<p><%= link_to("Import SMD titles", {:controller => "importer", :action => "importConsole", :console => "SMD"}) %> </p>

<h2>Pending Imports</h2>
<table>
  <thead>
    <th>ID</th>
    <th>Status</th>
    <th>Total Count</th>
    <th>Scrape Count</th>
    <th>Delete Count</th>
    <th>Ignore Count</th>
    <th>Started</th>
    <th>Last Update</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% for importStatus in ImportStatus.all %>
      <tr>
        <td><%= importStatus.id %></td>
        <td><%= importStatus.status %></td>
        <td><%= importStatus.totalCount %></td>
        <td><%= importStatus.scrapeCount %></td>
        <td><%= importStatus.deleteCount %></td>
        <td><%= importStatus.ignoreCount %></td>
        <td><%= importStatus.created_at %></td>
        <td><%= importStatus.updated_at %></td>
        <td><%= link_to("Cancel Import", controller: "importer", action: "deleteStatus", id: importStatus.id) %></td>
      </tr>
    <% end  %>
  </body>
</table>
